<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" id="close0">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加新试卷</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="editForm">

         <div class="form-group">
            <label for="inputStudentName" class="col-sm-3 control-label">试卷名称</label>
            <div class="col-sm-8" style="top: 6px">
              <input type="text" class="form-control" name="ptitle"  id="ptitle"   placeholder="请输入试卷名称">
            </div>
         </div>

            <div class="form-group">
            <label for="inputStudentName" class="col-sm-3 control-label">第一题</label>
            <div class="col-sm-8" style="top: 6px">
              <select class="form-control"  name="pte" id="pte">
                <option value=" ">请选择题目</option>
                    {% for st in wpaper %}
                        <option value="{{ st.id }}">{{ st.wtitle}}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-3 control-label">第二题</label>
            <div class="col-sm-8" style="top: 6px">
              <select class="form-control"  name="pte2" id="pte2">
                <option value=" ">请选择题目</option>
                    {% for st in wpaper %}
                        <option value="{{ st.id }}">{{ st.wtitle}}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-3 control-label">第三题</label>
            <div class="col-sm-8" style="top: 6px">
              <select class="form-control"  name="pte3" id="pte3">
                <option value=" ">请选择题目</option>
                    {% for st in wpaper %}
                        <option value="{{ st.id }}">{{ st.wtitle}}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-3 control-label">第四题</label>
            <div class="col-sm-8" style="top: 6px">
              <select class="form-control"  name="pte4" id="pte4">
                <option value=" ">请选择题目</option>
                    {% for st in wpaper %}
                        <option value="{{ st.id }}">{{ st.wtitle}}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-3 control-label">第五题</label>
            <div class="col-sm-8" style="top: 6px">
              <select class="form-control"  name="pte5" id="pte5">
                <option value=" ">请选择题目</option>
                    {% for st in wpaper %}
                        <option value="{{ st.id }}">{{ st.wtitle}}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-3 control-label">第六题</label>
            <div class="col-sm-8" style="top: 6px">
              <select class="form-control"  name="pte6" id="pte6">
                <option value=" ">请选择题目</option>
                    {% for st in wpaper %}
                        <option value="{{ st.id }}">{{ st.wtitle}}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-3 control-label">第七题</label>
            <div class="col-sm-8" style="top: 6px">
              <select class="form-control"  name="pte7" id="pte7">
                <option value=" ">请选择题目</option>
                    {% for st in wpaper %}
                        <option value="{{ st.id }}">{{ st.wtitle}}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-3 control-label">第八题</label>
            <div class="col-sm-8" style="top: 6px">
              <select class="form-control"  name="pte8" id="pte8">
                <option value=" ">请选择题目</option>
                    {% for st in wpaper %}
                        <option value="{{ st.id }}">{{ st.wtitle}}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-3 control-label">第九题</label>
            <div class="col-sm-8" style="top: 6px">
              <select class="form-control"  name="pte9" id="pte9">
                <option value=" ">请选择题目</option>
                    {% for st in wpaper %}
                        <option value="{{ st.id }}">{{ st.wtitle}}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-3 control-label">第十题</label>
            <div class="col-sm-8" style="top: 6px">
              <select class="form-control"  name="pte0" id="pte0">
                <option value=" ">请选择题目</option>
                    {% for st in wpaper %}
                        <option value="{{ st.id }}">{{ st.wtitle}}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

		</form>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-link" id="close">取消</button>
        <button type="submit" class="btn btn-primary" form="addForm" id="btn">提交</button>
      </div>
    </div>
</div>

<div class="clear" style="clear: both;"></div>
<div id="message" class="message" style="width: 400px;height: 200px;background-color: white;border: 2px solid #EAF2D3;top: 80px;left:360px;position: absolute;display: none">
    <h4 style="font-size: 32px;margin-left: 102px;margin-top: 20px;color: black">添加成功！</h4>
    <div class="add" style="width: 104px;height: 38px;border: 1px solid #98bf21;cursor: pointer;text-align: center;font-size: 22px;margin-top: 50px;margin-left: 40px;">继续添加</div>
    <div class="list" style="width: 104px;height: 38px;border: 1px solid #98bf21;cursor: pointer;text-align: center;font-size: 22px;margin-top: -38px;margin-left: 240px;">查看</div>
</div>

<script>

    $('#close').click(()=>{
          $.ajax({
                    url: '/st/paper_list/',  //回到试题试卷展示页面
                    type: 'get',
                    success:(data)=>{
                        $('#mian').css('display', 'block');
                        $('.infof').html(data);
                    }
                })
    });

    $('#close0').click(()=>{
          $.ajax({
                    url: '/st/paper_list/',
                    type: 'get',
                    success:(data)=>{
                        $('#mian').css('display', 'block');
                        $('.infof').html(data);
                    }
                })
    });

    $('#btn').click(()=>{
        var ptitle = $("#ptitle").val();
        var pte =$('#pte option:selected').val();
        var pte2 =$('#pte2 option:selected').val();
        var pte3 =$('#pte3 option:selected').val();
        var pte4 =$('#pte4 option:selected').val();
        var pte5 =$('#pte5 option:selected').val();
        var pte6 =$('#pte6 option:selected').val();
        var pte7 =$('#pte7 option:selected').val();
        var pte8 =$('#pte8 option:selected').val();
        var pte9 =$('#pte9 option:selected').val();
        var pte0 =$('#pte0 option:selected').val();

        console.log(ptitle,pte,pte2,pte3,pte4,pte5,pte6,pte7,pte8,pte9,pte0);
        $.ajax({
                url: '/st/addss_paper/',
                type: 'post',
                data: {
                    'ptitle': ptitle,
                    'pte':pte,
                    'pte2':pte2,
                    'pte3':pte3,
                    'pte4':pte4,
                    'pte5':pte5,
                    'pte6':pte6,
                    'pte7':pte7,
                    'pte8':pte8,
                    'pte9':pte9,
                    'pte0':pte0,

                },
                success: (data) => {
                    if (data['status'] === 'success') {  //判断
                        $('.message').css('display', 'block');
                    }
                }
            })
        });

    //提交成功后跳出的框内的操作
    $('.list').click(()=>{
        $.ajax({
            url:'/st/paper_list/',
            type:'get',
            success:(data)=>{
                $('#mian').css('display', 'block');
                $('.infof').html(data);
            }
        })
    });
    $('.add').click(()=>{
        $('.message').css('display','none');
        $.ajax({
            url:'/st/add_paper/',
            type:'get',
            success:(data)=>{
                $('#mian').css('display', 'block');
                $('.infof').html(data);
            }
       })
    });

</script>