<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <title>编辑学生信息页面</title>
  <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
 </head>
 <body>
 <div class="container">
     <div class="page-header">
         <h1>学生信息管理
             <small>编辑学生信息</small>
         </h1>
     </div>

{# 提交班级信息的表单 开始；action="/edit_teacher/" 是url路径，method="post" 是获取信息的方法#}
<div class="row">
     <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" action="/edit_student/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputStudentName" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input name="id" type="text" class="form-control" id="inputStudentID"
                           value="{{ student.id }}" style="display:none">
                </div>
            </div>

          <div class="form-group">
            <label for="inputStudentName" class="col-sm-2 control-label">学生姓名</label>
            <div class="col-sm-10">
              <input name="name" type="text" class="form-control" id="inputStudentName" value="{{ student.name}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputClassName" class="col-sm-2 control-label">所在班级</label>
            <div class="col-sm-10">
{#                <select class="form-control" name="sclass" id="class_id">#}
{#                  {% for class in class_list %}#}
{#                          <option value="{{ class.id }}">{{ class.cname }}</option>#}
{#                  {% endfor %}#}
{#              </select>#}
                <select class="form-control" name="sclass" id="class_id">
                    {% for class in class_list %}
                        {% if student.sclass.id == class.id %}
                            <option selected value="{{ class.id }}">{{ class.cname }}</option>
                        {% else %}
                            <option value="{{ class.id }}">{{ class.cname }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
          </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-2 control-label">籍贯</label>
            <div class="col-sm-10">
              <input name="city" type="text" class="form-control" id="inputStudentName" value="{{ student.data.city}}">
            </div>
          </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-10">
              <input name="age" type="text" class="form-control" id="inputStudentName" value="{{ student.data.age}}">
            </div>
          </div>

        <div class="form-group">
            <label for="inputStudentName" class="col-sm-2 control-label">性别</label>
            <div class="col-sm-10">
              <input name="sex" type="text" class="form-control" id="inputStudentName" value="{{ student.data.sex}}">
            </div>
          </div>

            <div class="form-group">
            <label for="inputStudentName" class="col-sm-2 control-label">联系方式</label>
            <div class="col-sm-10">
              <input name="phone" type="text" class="form-control" id="inputStudentName" value="{{ student.data.phone}}">
            </div>
          </div>

           <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">提交</button>

            </div>
          </div>
        </form>
        </div>
    </div>
 {# 提交班级信息的表单 结束 #}
 </div>
  
 </body>
</html>
